---
import BaseLayout from '~/layouts/BaseLayout.astro';
import BlogList from '~/components/BlogList.astro';
---

<BaseLayout title="Blog" lang="de">
  <div class="pt-12">
    <BlogList lang="de" />
  </div>
</BaseLayout>
