---
import BaseLayout from '~/layouts/BaseLayout.astro';
import Projects from '~/components/Projects.astro';
---

<BaseLayout title="Projekte" lang="de">
  <div class="pt-12">
    <Projects lang="de" />
  </div>
</BaseLayout>
